/cinema-theatre/cinema-theatre-persistence/target/classes/META-INF/MANIFEST.MF
/cinema-theatre/cinema-theatre-domain/target/classes/META-INF/MANIFEST.MF
/cinema-theatre/cinema-theatre-persistence/target/classes/META-INF/maven/com.management/cinema-theatre-persistence/pom.properties
